services:
  backend:
    build: ./backend
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      MONGO_URI: mongodb://mongo:27017/devtrack
    depends_on:
      - mongo

  mongo:
    image: mongo:7
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:

